<tr class="time-slot-row" >
    <td id="@($"time-{Time:HHmm}")" class="time-slot time-slot-label">
        <span>
            @Time.ToString("hh:mm tt")
        </span>
    </td>
</tr>
<tr class="time-slow-row">
    <td id="@($"time-{Time:HH30}")" class="time-slot" />
</tr>

@code {
    [Parameter, EditorRequired]
    public TimeOnly Time { get; set; }
}