.scheduler-table-container {
    table-layout: fixed;
}

.inner-table-cell {
    vertical-align: top;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

    .inner-table-cell .heading:hover {
        text-decoration: underline;
    }

.cell-placeholder {
    min-height: 80px;
    width: 100%;
    overflow-x: hidden;
}

::deep .mud-tooltip-root.mud-tooltip-inline {
    display: inline-flex;
    height: 24px;
}
