.day-col-container {
    position: relative;
    overflow-y: hidden;
    width: 100%;
    border-right: 1px solid lightgray;
}

.cell-half-hour {
    border-bottom: 1px dotted lightgray;
    background-color: antiquewhite;
}

.cell-hour {
    border-bottom: 1px solid darkgray;
    background-color: aquamarine;
}

.event-container {
    top: var(--event-top);
    height: var(--event-height);
    left: var(--event-left);
    width: var(--event-width);
    position: absolute;
    padding-left: 4px;
    font-size: 12px;
}

.event-padding {
    height: 100%;
    background-color: rgba(100, 149, 237, 0.25);
    border: 1px dotted blue;
    border-radius: 4px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
}

.event {
    background-color: cornflowerblue;
    top: var(--event-top-unpadded);
    width: 100%;
    height: var(--event-height-unpadded);
    text-overflow: ellipsis;
    position: relative;
}