.day-col-container {
    position: relative;
}

.cell-half-hour {
    border-bottom: 1px dotted lightgray;
    background-color: antiquewhite;
}

.cell-hour {
    border-bottom: 1px solid darkgray;
    background-color: aquamarine;
}

.event-container {
    top: var(--event-top);
    height: var(--event-height);
    left: var(--event-left);
    width: var(--event-width);
    position: absolute;
    padding-right: 4px;
}

.event {
    background-color: cornflowerblue;
    border: 1px solid blue;
    width: 100%;
    height:100%;
    text-overflow: ellipsis;
}
