.date-string-dropdown {
    display: inline-flex;
    align-items: center
}

.scheduler-view-button {
    padding: 0px 10px;
}

button ::deep {
    background-color: unset;
    border: unset;
    border-radius: 3px;
    transition: color 0.2s;
    transition: background-color 0.2s;
    padding: 5px 10px;
}

button:hover ::deep {
    color: navajowhite;
    background-color: dimgrey;
}

.date-button {
    padding: 0px;
    margin: 2px 5px;
}

.overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: calc(100% - 36px);
    font-size: 14px;
    pointer-events: none;
}

::deep .mud-input {
    color: currentColor;
}

::deep .mud-icon-button {
    color: currentColor;
}

    ::deep .mud-icon-button:hover {
        background-color: inherit;
    }

::deep .mud-icon-root.mud-svg-icon {
    fill: currentColor;
}
