@using Admin.Data.Helpers
@using Core.Dto
@using Core.Interfaces
@using System.Web

@inject IJSRuntime Js
@inject IMessageService MessageService
@inject IBusinessService BusinessService

@if (Service != null && !string.IsNullOrEmpty(_businessGuid))
{
    <h4 class="mt-5 pt-5">Copy & Pate the following code block into your website:</h4>
    <section id="booking-form-embed" class="border-0 border-primary">
        <div class="d-flex flex-row justify-content-start align-items-center m-0 border-primary border-1 p-2 m-2">
            <span>
                <MudTooltip Text="Copy Code">
                    <button @onclick=CopyCode>
                        <span class="material-symbols-outlined pe-2">file_copy</span>
                    </button>
                </MudTooltip>
            </span>
            <span class="overflow-x-scroll">
                <pre class="d-inline-flex m-0">
                <code>@EmbedCode</code>
                        </pre>
            </span>
        </div>
    </section>

    <p class="lead">The embedded form will look similar to this:</p>
    <div class="w-100 h-auto">
        <iframe src="@(BookingUrl)?IsDemo=true" style="border: 0; height:100%; width:100%" title="Book Online - Example" onload="this.style.height=(this.contentWindow.document.body.scrollHeight+20)+'px';" />
    </div>
}


@code {
    [Parameter, EditorRequired]
    public ServiceTypeDto Service { get; set; }

    private string _businessGuid = "";

    // TODO change URL to config value
    string BookingUrl => $"https://localhost:7282/{_businessGuid}/{Service.Guid}";

    //Using four spaces instead of \t tab
    string EmbedCode => $"<div style=\"width: 100%; height: auto;\">\n    <iframe src=\"{BookingUrl}\" title=\"Book Online\" width=\"100%\" height=\"100%\" style=\"border: 0;\" referrerpolicy=\"origin\" onload=\"this.style.height=(this.contentWindow.document.body.scrollHeight+20)+'px';\"/>\n<div>";

    protected override async Task OnParametersSetAsync()
    {
        var result = await BusinessService.GetBusinessForUser();
        if (result.IsSuccess)
        {
            _businessGuid = result.Result!.Guid.ToString();
        }
        else
        {
            // TODO logging
        }

        await base.OnParametersSetAsync();
    }

    private async Task CopyCode()
    {
        if (await JavascriptHelpers.CopyToClipboard(Js, EmbedCode))
        {
            MessageService.AddMessage(new MessageBase("Copied to clipboard", MessageBase.MessageType.Success));
        }
        else
        {
            MessageService.AddMessage(new MessageBase("Failed to copy to clipboard", MessageBase.MessageType.Warning));
        }
    }
}
