@page "/"
@using Admin.Components.Shared.Scheduler
@using Core.Interfaces

@inject IUserService UserService

<PageTitle>Bookings</PageTitle>
@if (!String.IsNullOrEmpty(Username))
{
    <h3>Hi @Username</h3>
    <p class="lead">
        Check Out Your Bookings:
    </p>
}
else
{
    <h1>
        Your bookings
    </h1>
}

<Scheduler />


@code {
    private string? Username = null;

    protected override async Task OnInitializedAsync()
    {
        Username = await UserService.GetUserNameAsync();
    }
}