@page "/"
@using Admin.Components.Shared.Scheduler
@using Core.Interfaces

@inject IUserService UserService

<PageTitle>Bookings</PageTitle>
@if (!String.IsNullOrEmpty(Username))
{
    <h3>Hi @Username</h3>
}
<p class="lead">
    Check Out Your Bookings:
</p>

<Scheduler />


@code {
    [CascadingParameter]
    public string? Username { get; set; }
}