@page "/"
@using Admin.Components.Shared.Scheduler

@inject IJSRuntime IJSRuntime

<PageTitle>Home</PageTitle>

<MudText Typo="Typo.h3">Hello, world!</MudText>
<MudButton Variant="Variant.Filled" Color="Color.Primary" >Hello!</MudButton>


<h1> Hello, World!</h1>

<Scheduler />


@code {

}