@using Admin.Components.Shared
@using Admin.Data.Helpers
@using Core.Dto
@using Core.Interfaces

@inherits LayoutComponentBase

@implements IDisposable

@inject ISnackbar Snackbar
@inject IMessageService MessageService

<header>
    <TopNavBar />
</header>

<main>
    @Body

    <MudThemeProvider />
    <MudPopoverProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />
</main>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {

    protected override void OnInitialized()
    {
        MessageService.AddMessageListener(OnMessage);
    }

    private void OnMessage(MessageBase message)
    {
        var severity = Severity.Normal;
        switch (message.Severity)
        {
            case MessageBase.MessageType.Success:
                severity = Severity.Success;
                break;
            case MessageBase.MessageType.Normal:
                severity = Severity.Normal;
                break;
            case MessageBase.MessageType.Warning:
                severity = Severity.Warning;
                break;
            case MessageBase.MessageType.Error:
                severity = Severity.Error;
                break;
        }

        Snackbar.Add(message.Message, severity);
    }

    public void Dispose()
    {
        //MessageService.RemoveMessageListener(OnMessage);
    }
}