@page "/services/edit"

@using Admin.Components.Shared.Service
@using Admin.Data.Helpers
@using Admin.Data.ServiceTypes
@using Core.Dto;
@using Core.Interfaces
@using System.Globalization

@inject IServiceTypeService ServiceTypeService
@inject IMessageService MessageService
@inject StateContainerSingle<ServiceTypeDto> StateContainer
@inject NavigationManager NavigationManager


@if (Service != null)
{
    <h1>Manage Your Service:</h1>

    <ServiceForm Dto="Service" IsCreating="false" />
}

@code {
    private ServiceTypeDto Service = default!;

    protected override void OnParametersSet()
    {
        Service = StateContainer.GetItem();

        if (Service == null)
        {
            MessageService.AddMessage(new MessageBase(
                    message: "Unable to locate service type to edit",
                    severity: MessageBase.MessageType.Warning
            ));

            NavigateBack(true);
        }
    }

    // private void Delete()
    // {
    //     // TODO open another Are You Sure dialog
    // }

    // private void SaveChangesAsync()
    // {
    //     // TODO open another Are You Sure dialog with warning
    // }

    private void NavigateBack(bool replaceHistory = false)
    {
        NavigationManager.NavigateTo("/services", new NavigationOptions
            {
                ReplaceHistoryEntry = replaceHistory,
            });
    }
}
