@page "/services/edit"

@using Admin.Components.Shared.Service
@using Admin.Data.Helpers
@using Admin.Data.ServiceTypes
@using Core.Dto;
@using Core.Interfaces
@using System.Globalization

@inject IServiceTypeService ServiceTypeService
@inject IMessageService MessageService
@inject StateContainerSingle<ServiceTypeDto> StateContainer
@inject NavigationManager NavigationManager


@if (_service != null)
{
    <h1>Manage Your Service:</h1>
    <div class="container bg-light">
        <div class="row">
            <ServiceForm Dto="_service" IsCreating="false" />
        </div>
        <div class="row">
            <ServiceBookingSample Service="_service"/>
        </div>
    </div>
}

@code {
    private ServiceTypeDto _service = default!;

    protected override void OnParametersSet()
    {
        _service = StateContainer.GetItem();

        if (_service == null || string.IsNullOrEmpty(_service.Guid.ToString()))
        {
            MessageService.AddMessage(new MessageBase(
                    message: "Unable to locate service type to edit",
                    severity: MessageBase.MessageType.Warning
            ));

            NavigateBack(true);
        }
    }

    private void NavigateBack(bool replaceHistory = false)
    {
        NavigationManager.NavigateTo("/services", new NavigationOptions
            {
                ReplaceHistoryEntry = replaceHistory,
            });
    }
}
