<div class="top-bar">
    <img class="logo" src="icons/logo.png" />

    <NavLink class="nav-link" href="/">
        <div class="flex-column-center">
            <i class="material-symbols-outlined">calendar_month</i>
            <span>Calendar View</span>
        </div>
    </NavLink>

    <NavLink class="nav-link" href="/services">
        <div class="flex-column-center">
            <span class="material-symbols-outlined">
                design_services
            </span>
            <span>My Services</span>
        </div>
    </NavLink>

    <NavLink class="nav-link" href="/manage-users">
        <div class="flex-column-center">
            <span class="material-symbols-outlined">
                manage_accounts
            </span>
            <span>Manage Users</span>
        </div>
    </NavLink>

    <div style="flex-grow: 1" />

    <NavLink class="nav-link" href="/Account/Manage">
        <div class="flex-column-center">
            <span class="material-symbols-outlined">
                person
            </span>
            <span>My Account</span>
        </div>
    </NavLink>
</div>