<div class="top-bar">
    <img class="logo" src="icons/logo.png" />

    <NavLink class="nav-link" href="/">
        <div class="flex-column-center">
            <i class="material-icons">calendar_month</i>
            <span>Calendar View</span>
        </div>
    </NavLink>

    <NavLink class="nav-link" href="/events">
        <div class="flex-column-center">
            <i class="material-icons">format_list_bulleted</i>
            <span>Events</span>
        </div>
    </NavLink>
</div>