.header-date {
    border-bottom: 8px solid slategray;
    border-top-left-radius: 10px;
    padding-top: 8px;
}

.header-time {
    border-bottom: 8px solid slategray;
    border-top-right-radius: 10px;
    padding-top: 8px;
}

ul {
    overflow-y: scroll;
    overflow-x: visible;
}

#time-picker-container {
    overflow-y: scroll;
}

/* Solid border */
hr.solid {
    border-top: 2px solid grey;
}

/* Rounded border */
hr.rounded {
    margin: 8px 0px;
    border-top: 3px solid #ffffff;
    border-radius: 1px;
}

.calendar-date {
    width: 50px;
    height: 50px;
}

.square {
    aspect-ratio: 1;
}

.cell-placeholder .today {
    outline: 1px solid darkgreen;
    outline-offset: -1px;
    border-radius: 100%;
}

.cell-placeholder .active {
    background-color: darkgreen;
    border-radius: 100px;
    color: white;
}

.booking-sidebar {
    overflow-y: scroll;
}

.time-list-container {
    overflow-y: scroll;
    width: 100%;
    text-align: center;
    flex-grow: 1;
}