@page "/Business/Create"

@layout MainLayout

@using Admin.Components.Shared.Business
@using Admin.Components.Shared.Pricing
@using Core.Dto
@using Core.Interfaces

@inject IMessageService MessageService
@inject IBusinessService BusinessService
@inject NavigationManager NavigationManager

<div class="row justify-content-center">
    <div class="col-lg-6">
        <h3>Tell Us About Your Business:</h3>
        <BusinessForm Business="new BusinessDto()" IsNewBusiness="true" OnValidFormSubmittedAsync="RegisterBusiness" />
    </div>
    <div class="col-lg-6">
        <h3>Setup Your Billing</h3>
        <BillingSetup />
    </div>
</div>

@code {

    private async Task RegisterBusiness(BusinessDto dto)
    {
        var result = await BusinessService.RegisterBusiness(dto);

        if (!result.IsSuccess)
        {
            result.Errors.ForEach(x =>
            {
                MessageService.AddMessage(new MessageBase(x, MessageBase.MessageType.Error));
            });
        } else
        {
            MessageService.AddMessage(new MessageBase("Business registered succesfully", MessageBase.MessageType.Success));
            NavigationManager.NavigateTo("/Services");
        }
    }
}
