<MudDialog TitleClass="d-none" ContentClass="p-0 m-0">
    <DialogContent>
        <div class="card border-2 border-dark">
            <div class="card-header px-5 py-3 text-center">
                <h6>
                    @Title
                </h6>
            </div>
            @if (!string.IsNullOrEmpty(Content) || !string.IsNullOrEmpty(Warning))
            {
                <div class="card-body my-1 mx-5">
                    @if (!string.IsNullOrEmpty(Content))
                    {
                        <p class="text-muted">@Content </p>
                    }

                    @if (!string.IsNullOrEmpty(Warning))
                    {
                        <div class="alert alert-danger my-0 text-center">
                            <p class="lead my-0">@Warning</p>
                        </div>
                    }
                </div>
            }
            <div class="card-footer">
                <div class="d-flex flex-column">
                    <button class="btn btn-secondary m-1" data-dismiss="modal" @onclick=Cancel>
                        No, Go Back
                    </button>
                    <button class="btn btn-primary m-1" @onclick=Submit>
                        Yes, Continue
                    </button>
                </div>
            </div>
        </div>
    </DialogContent>
</MudDialog>

@code {
    [CascadingParameter]
    private MudDialogInstance MudDialog { get; set; }

    [Parameter, EditorRequired]
    public string Id { get; set; } = default!;

    [Parameter]
    public string Title { get; set; } = "Are You Sure?";

    [Parameter]
    public string Content { get; set; } = "";

    [Parameter]
    public string Warning { get; set; } = "";

    private void Submit() => MudDialog.Close(DialogResult.Ok(true));

    private void Cancel() => MudDialog.Cancel();
}
